*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.search-container{
     display: flex;
     justify-content: center;
     gap: 7px;
     margin-top: 20px; 
}
.search-container input{
    width: 400px;
    padding: 9px;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    background-color: #2196F3;
}

.search-container button{
    padding: 9px 12px;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
   
}
